fastapi
uvicorn
SQLAlchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
openai
chromadb
jinja2
python-multipart
langchain==0.3.10
langchain-core==0.3.22
langchain-community==0.3.10
langchain-openai==0.2.10
langchain-chroma==0.1.4




